@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Koulen&family=Poppins:wght@100&family=Tiro+Devanagari+Sanskrit&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



#banner{
  background: linear-gradient(rgba(0,0,0.2,0.2),#250029), url(../assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#logo{
  width: 150px;
  position: absolute;
  top: 4%;
  left: 5%;
}
.banner-text{
  text-align: center;
  color: white;
  padding-top: 180px;

}
.banner-text h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 130px;

}
.banner-text p{
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 20px;
  font-style: italic;
}
.banner-btn{
  margin: 70px auto 0;

}
.banner-btn a {
  color: aliceblue;
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  border: 0.5px solid white;
  /* position:absolute; */
  z-index: -1;


}
.banner-btn a:hover , .banner-btn a:active{
  background-color: rgba(255, 255, 255, 0.38);
  font-size: 150%;
  width: 15%;
  height: 15%;

}






.banner-btn a span{
  width: 0%;
  height: 100%;
  /* position: relative; */
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.5s;

}
.banner-btn a:hover span{
  width: 100%;
}

#sideNav{
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -200px;
  top: 0;
  background: #250029;
  z-index: 2;
  transition: 0.5s;


}
#sideNav nav ul li{
  list-style: none;
  margin: 50px 20px;

}
#sideNav nav ul li a {
  text-decoration: none;
  color: white;

}
#menuBtn{
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;

  top: 20px;
  right: 30px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;

}
#menuBtn img{
  width: 85px;
  height: 85px;
  margin-right: 85px;
  margin-left: -30px;
  margin-top: -5px;

}
/* #menuBtn img:active , img:hover{
    background-color: rgba(153, 50, 204, 0.186);
    width: 90px;
    height: 90px;
    display: ruby-base-container; */

/* } */

/* features are started !  */
#features{
  width: 100%;
  padding: 70px 0 ;


}
.title-text{
  text-align: center;
  padding-bottom: 70px;

}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #250029;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;

}
.title-text p::after{
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#250029 , white);
  position: absolute;
  top: -20px;
  left: 0;
  transform: rotate(10dg);
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  z-index: -1;

}
.title-text h1{
  font-size: 50px;

}
.feature-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

}
.features{
  flex-basis: 50%;
  display:inline-block;


}
.feature-img{
  flex-basis: 50%;
  margin: auto;

}
.feature-img img{
  width: 50%;
  height: 70%;
  border-radius: 30px;
  cursor: pointer;
}
.feature-img img:hover{
  width: 60%;
  height: 80%;

}
.features h1{
  text-align:center;
  margin-bottom: 10px;
  color: #250029;
  font-size: 30px;
  font-weight: bold;
}

/* services */
#service{
  width: 100%;
  padding: 70px 0;
  background: rgba(139, 73, 127, 0.271);



}
.service-box{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

}
.single-service{
  position: relative;
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: white;

}
.single-service img{
  width: 450px;
  height: 350px;
  border-radius: 7px;
}
.overlay{
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0.5  ),#250029);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 2s;


}
.single-service:hover .overlay{
  opacity: 1;

}
.service-desc{
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 2s;
}
.single-service:hover .service-desc{
  opacity: 1;
  bottom: 20%;
}
.hr{
  background: white;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.single-service P{
  font-size: 14PX;
}

/* testimonial */
#testimonial{
  width: 100%;
  padding: 70px 0;
}
.testimonial-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}
.testimonial-col{
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow:20px 10px 60px #9307ff14;
  cursor: pointer;
  transition: 0.25s;
}
.testimonial-col p{
  font-size: 14px;

}
.user{
  display: flex;
  align-items: center;
  margin: 20px 0;

}
.user img{
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.testimonial-col:hover{
  transform: translateY(-7px);

}
/* footer is start */
#footer{
  padding: 100px 0 20px;
  background: rgba(162, 98, 159, 0.186);

}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



}
.footer-left ,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;

}
.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0;

}
.footer-row p{
  line-height: 35px;
}
